<html ng-app="strftimeApp">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>STRFTIME</title>
  
</head>

<body ng-controller="StrftimeController">
  <input type="number" ng-model="num"></input>
  <button ng-click="addOne()">Add one</button>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-mocks.js"></script>
  <script src="/static/js/strftime.js"></script>
</body>

</html>
