<html ng-app="strftimeApp">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/static/css/strftime.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>

  <title>STRFTIME</title>

</head>

<body ng-controller="StrftimeController">
  <div class="container">
    <h1 class="title">Strftime</h1>
    <h1 class="output">{{ output }}</h1>
    <div class="input">
      <input ng-model="strftime" ng-change="calculate()" class="strftime" placeholder="It is %I:%M%p on %A, %B %dth."></input>
      <button ng-click="addOne()">Copy</button>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-mocks.js"></script>
  <script src="/static/js/strftime.js"></script>
</body>

</html>
