/* line 8, ../sass/strftime.scss */
body {
  font-family: 'Nunito', Helvetica, sans-serif;
  background-color: #1f5c79;
  color: #cde5ff;
}

/* line 14, ../sass/strftime.scss */
.container {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  /* line 14, ../sass/strftime.scss */
  .container {
    width: 100%;
  }
}

/* line 22, ../sass/strftime.scss */
.title {
  margin: 0;
  vertical-align: middle;
  font-size: 4em;
}

/* line 28, ../sass/strftime.scss */
.input {
  /*text-align: center;*/
}

/* line 32, ../sass/strftime.scss */
.strftime {
  width: 90%;
  max-width: 400px;
  height: 50px;
  padding: 0 10px;
  vertical-align: top;
  /*border: 3px solid #FFF3CD;*/
  border: none;
  border-bottom: 3px solid #164D67;
  border-radius: 0;
  background-color: #30708E;
  color: #808080;
  text-align: left;
  font-size: 1.5em;
  outline: none;
}

/* line 49, ../sass/strftime.scss */
.strftime:hover {
  outline: none;
}

/* line 53, ../sass/strftime.scss */
.copy {
  vertical-align: top;
  height: 50px;
  width: 100px;
  margin-left: 1%;
  padding: 0;
  background-color: #30708E;
  color: #cde5ff;
  border: 0;
  border-bottom: 3px solid #1f5c79;
  font-size: 1.5em;
  -webkit-appearance: none;
}
/* line 66, ../sass/strftime.scss */
.copy:hover {
  cursor: pointer;
}

/* line 71, ../sass/strftime.scss */
.autocompletion {
  width: 90%;
  max-width: 400px;
}
/* line 75, ../sass/strftime.scss */
.autocompletion .entry {
  padding: 2px 6px;
}
/* line 78, ../sass/strftime.scss */
.autocompletion .entry .type {
  display: inline-block;
  width: 20%;
}
/* line 83, ../sass/strftime.scss */
.autocompletion .entry .description {
  display: inline-block;
  width: 80%;
}
