$bg-color: #1F5C79;
$text-color: #CDE5FF;
$secondary-color: #7EBAFC;

body {
  font-family: 'Nunito', Helvetica, sans-serif;
  background-color: $bg-color;
  color: $text-color;
}

.title {
  margin: 0;
  vertical-align: middle;
  font-size: 3em;
}

.input {
  /*text-align: center;*/
}

.strftime {
  width: 90%;
  max-width: 400px;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  /*border: 3px solid #FFF3CD;*/
  border: none;
  border-radius: 3px;
  color: #808080;
  text-align: left;
  font-size: 1.5em;
  outline: none;
}

.strftime:hover {
  outline: none;
}
